body{
    background-color: black;
}
header {
    width: auto;
    height: auto;
    background-image: url(./pexels-photo-1763075.jpeg);
    background-position: center top;
    background-size: auto;
    background-repeat: no-repeat;
}
.band
 {

 }
a {
    filter: brightness(1.3);
    mix-blend-mode: multiply;
   
}